.header {
    position: sticky;
    top: 0;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: var(--primary-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    padding: 8px;
    padding-left: 30px;
    min-width: 320px;
    outline: none;
    border: none;
    border-radius: 2px;
}


.searchInput:hover,
.searchInput:active {
    outline: 1px solid var(--secondary-color);
}

.searchBtn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    background: transparent;
}

.searchBtn:hover > .searchImage {
    fill: var(--primary-color);
}