.modalImage {
    width: auto;
    max-height: 566px;
    object-fit: cover;
}

.imageInfo {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}